{% set active_page = active_page -%}
<!-- Navigation -->
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="{{ url_for('core.home') }}" class="{{ 'active_page nav-link px-2' if active_page == 'index' else 'nav-link px-2 text-secondary' }}">Home</a>
        </li>
        <li>
          <a class="{{ 'active_page nav-link px-2' if active_page == 'all_tickets' else 'nav-link px-2 text-secondary' }}" href="{{ url_for('tickets.all_tickets') }}">All Tickets</a>
        </li>
        <li>
          <a class="{{ 'active_page nav-link px-2' if active_page == 'create_ticket' else 'nav-link px-2 text-secondary' }}" href="{{ url_for('tickets.create_ticket') }}">Create Ticket</a>
        </li>
      </ul>


      <div class="text-end" style="position: relative; width: 500px; height: 40px;">
        {% if current_user.is_authenticated %}
        <div class="text-end" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-40%); width: 250px; height: 30px;">
          <p>Logged in as {{ current_user.email }}</p>
        </div>
        <button type="submit" class="btn btn-danger me-2" onclick="document.getElementById('id02').style.display='block'">Logout</button>
        <div id="id02" class="modal">
          <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
          <form class="modal-content" action="{{ url_for('accounts.logout') }}" style="width: 35%;">
            <div class="modal_container">
              <h1>Logout</h1>
              <p>Are you sure you want to logout?</p>
        
              <div class="clearfix">
                <a href="{{ url_for('tickets.all_tickets') }}">
                  <button type="button" class="modal_button cancelbtn">Cancel</button>
                </a>
                <a href="{{ url_for('accounts.logout') }}">
                  <button type="input" class="modal_button deletebtn">Logout</button>
                </a>
              </div>
            </div>
          </form>
        </div>

        {% else %}
          <a href="{{ url_for('accounts.login') }}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="{{ url_for('accounts.register') }}"><button type="button" class="btn btn-success">Sign up</button></a>
        {% endif %}

      </div>
    </div>
  </div>
</header>