{% extends "base.html" %}

{% block content %}
<div style="margin: 0 auto; width: 60%;">
    <h2>{% block title %} {{ ticket["name"] }} {% endblock %}</h2>
    <br>

    <div style="width: 30%; height: 60px;">
        <div style="float: left; height: 50px; width: 110px; margin-right: 5px; text-align: center; line-height: 50px;">
            <a class="width: relative 5%;" href="{{ url_for('tickets.update_ticket', ticket_id=ticket.id) }}">
                <button style="width: 100px;" type="submit" class="btn btn-primary">Update</button>
            </a>
        </div>
        <div style="float: right; height: 50px; width: 110px; margin-right: 5px; text-align: center; line-height: 50px;">

        {% if current_user.is_admin %}
        <button style="width: 100px;" type="submit" class="btn btn-danger" onclick="document.getElementById('id01').style.display='block'">Delete</button>

        <div id="id01" class="modal">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <form class="modal-content" action="{{ url_for('tickets.delete_ticket', ticket_id=ticket.id) }}" method="POST" style="width: 35%;">
            <div class="modal_container">
              <h1>Delete Ticket</h1>
              <p>Are you sure you want to delete this ticket? This action cannot be undone.</p>
        
              <div class="clearfix">
                <a href="{{ url_for('tickets.get_ticket', ticket_id=ticket.id) }}">
                  <button type="button" class="modal_button cancelbtn">Cancel</button>
                </a>
                <form method="POST">
                  <button type="input" class="modal_button deletebtn">Delete</button>
                </form>
              </div>
            </div>
          </form>
        </div>
        {% endif %}
        </div>
    </div>
    <br>
    <div class="container" style="width: 50%; float: left;">
        <h5>Ticket Description</h5>
        <p>{{ ticket["description"] }}</p>
        <h5>Status</h5>
        <p>{{ ticket["status"] }}</p>
        <h5>Due Date</h5>
        <p>{{ ticket["due_date"] }}</p>
        <h5>Created At</h5>
        <p>{{ ticket["created_date"] }}</p>
        <br>
    </div>
    <div class="container" style="width: 50%; float: right;">
        <h5>Department</h5>
        <p>{{ ticket["department"] }}</p>
        <h5>Category</h5>
        <p>{{ ticket["category"] }}</p>
        <h5>Created By</h5>
        <p>{{ ticket["created_by"] }}</p>
        
        {% if ticket_updated %}
        <h5>Updated  At</h5>
        <p>{{ updated_date }}</p>
        <h5>Updated  By</h5>
        <p>{{ ticket["updated_by"] }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}