{% extends 'base.html' %}


{% block content %}
    <h1>{% block title %} Update Ticket {% endblock %}</h1>
    
    <!-- TODO: (nice to do) maybe use loops for the values that do not use custom sizes -->
    <form action="{{ url_for('tickets.update_ticket', ticket_id=ticket.id) }}" method="POST">
      {{ form.csrf_token }}

      <!-- ticket name -->
      <p>
          {{ form.ticket_name.label }}
          <br>
          {{ form.ticket_name(size=20, value=ticket.ticket_name) }}
      </p>

      {% if form.ticket_name.errors %}
          <ul class="errors">
              {% for error in form.ticket_name.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <!-- description -->
      <p>
        {{ form.ticket_description.label }}
        <br>
        {{ form.ticket_description(rows=5, cols=100, value=ticket.ticket_description) }}
      </p>

      {% if form.ticket_description.errors %}
          <ul class="errors">
              {% for error in form.ticket_description.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
      
      <!-- status -->
      <p>
        {{ form.status.label }}
        <br>
        {{ form.status(value=ticket.status) }}
      </p>

      {% if form.status.errors %}
          <ul class="errors">
              {% for error in form.status.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <!-- department -->
      <p>
        {{ form.department.label }}
        <br>
        {{ form.department(value=ticket.department) }}
      </p>

      {% if form.department.errors %}
          <ul class="errors">
              {% for error in form.department.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <!-- category -->
      <p>
        {{ form.category.label }}
        <br>
        {{ form.category(value=ticket.category) }}
      </p>

      {% if form.category.errors %}
          <ul class="errors">
              {% for error in form.category.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <!-- due-date -->
      <p>
        {{ form.due_date.label }}
        <br>
        {{ form.due_date }}
      </p>

      {% if form.due_date.errors %}
          <ul class="errors">
              {% for error in form.due_date.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
        <input class="btn btn-primary" type="submit" value="Create">
      </p>

    </form>
{% endblock %}