{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ ticket['ticket_name'] }} {% endblock %}</h2>
    <!-- <span class="badge badge-primary">{{ ticket['created_date'] }}</span> -->
    <a class='btn btn-primary' href="{{ url_for('update_ticket', ticket_id=ticket['id']) }}">Update</a>
    <p>{{ ticket['ticket_description'] }}</p>
    <p>{{ ticket['created_date'] }}</p>
    <p>{{ ticket['due_date'] }}</p>
    <p>{{ ticket['status'] }}</p>
    <p>{{ ticket['department'] }}</p>
    <p>{{ ticket['category'] }}</p>
{% endblock %}